/*
  Jester's CSS Framework File
*/

@font-face {
  font-family: "abel";
  src:
    url("../assets/fonts/abel-regular-webfont.woff2") format("woff2"),
    url("../assets/fonts/abel-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "aleo";
  src:
    url("../assets/fonts/aleo-regular-webfont.woff2") format("woff2"),
    url("../assets/fonts/aleo-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --base-size: 0.75rem;
  --base-response: 1.5vw;

  /* ratio multiplier between sizes */
  --size-scale-down-ratio: 0.8rem;
  --size-scale-up-ratio: 1.2rem;

  /* size context accessor */
  --size: var(--_size, var(--size-rg, 1rem));

  /* base size */
  --size-rg: calc(var(--base-size) + var(--base-response));
  /* smaller */
  --size-sm: calc(var(--size-rg) * var(--size-scale-down-ratio));
  --size-xs: calc(var(--size-sm) * var(--size-scale-down-ratio));
  --size-xss: calc(var(--size-xs) * var(--size-scale-down-ratio));
  --size-xsss: calc(var(--size-xss) * var(--size-scale-down-ratio));
  /* larger */
  --size-md: calc(var(--size-rg) * var(--size-scale-up-ratio));
  --size-lg: calc(var(--size-md) * var(--size-scale-up-ratio));
  --size-xl: calc(var(--size-lg) * var(--size-scale-up-ratio));
  --size-xxl: calc(var(--size-xl) * var(--size-scale-up-ratio));
  --size-xxxl: calc(var(--size-xxl) * var(--size-scale-up-ratio));

  /* color accessors */
  --text-color: var(--_text-color);
  --background-color: var(--_background-color);
  --primary-color: var(--_primary-color);
  --secondary-color: var(--_secondary-color);
  --accent-color: var(--_accent-color);

  /* light theme (default) */
  --_text-color: #080302;
  --_background-color: #fbf0ef;
  --_primary-color: #d24232;
  --_secondary-color: #e5c78a;
  --_accent-color: #ded268;
}

/* dark theme */
:root[data-theme="dark"] {
  --_text-color: #fdf8f7;
  --_background-color: #100504;
  --_primary-color: #cd3d2d;
  --_secondary-color: #75571a;
  --_accent-color: #978b21;
}

/* === size context providers === */

.--size-context-rg {
  --_size: var(--size-rg);
}

.--size-context-sm {
  --_size: var(--size-sm);
}

.--size-context-xss {
  --_size: var(--size-xss);
}

.--size-context-xsss {
  --_size: var(--size-xsss);
}

.--size-context-md {
  --_size: var(--size-md);
}

.--size-context-lg {
  --_size: var(--size-lg);
}

.--size-context-xl {
  --_size: var(--size-xl);
}

.--size-context-xxl {
  --_size: var(--size-xxl);
}

.--size-context-xxxl {
  --_size: var(--size-xxxl);
}

/* === text classes === */

._text {
  font-family:
    var(--_font-family), system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: var(--size);
  font-weight: normal;
}

._text._text--header {
  --_font-family: "aleo";
}

._text._text--normal {
  --_font-family: "abel";
}

._text._text--bold {
  font-weight: bold;
}

._text._text--italic {
  font-style: italic;
}
