/*
  Jester's CSS Framework File
*/

@font-face {
  font-family: "abel";
  src:
    url("../assets/fonts/abel-regular-webfont.woff2") format("woff2"),
    url("../assets/fonts/abel-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "aleo";
  src:
    url("../assets/fonts/aleo-regular-webfont.woff2") format("woff2"),
    url("../assets/fonts/aleo-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --base-size: 0.75rem;
  --base-response: 1vw;

  /* clamp multipliers */
  --lower-clamp-ratio: 2;
  --higher-clamp-ratio: 3;

  /* ratio multiplier between sizes */
  --size-scale-down-ratio: 0.8;
  --size-scale-up-ratio: 1.2;

  /* base size */
  --size-rg: clamp(
    var(--base-size) * var(--lower-clamp-ratio),
    var(--base-size) + var(--base-response),
    var(--base-size) * var(--higher-clamp-ratio)
  );
  /* smaller */
  --size-sm: calc(var(--size-rg) * var(--size-scale-down-ratio));
  --size-xs: calc(var(--size-sm) * var(--size-scale-down-ratio));
  --size-xxs: calc(var(--size-xs) * var(--size-scale-down-ratio));
  --size-xxxs: calc(var(--size-xxs) * var(--size-scale-down-ratio));
  /* larger */
  --size-md: calc(var(--size-rg) * var(--size-scale-up-ratio));
  --size-lg: calc(var(--size-md) * var(--size-scale-up-ratio));
  --size-xl: calc(var(--size-lg) * var(--size-scale-up-ratio));
  --size-xxl: calc(var(--size-xl) * var(--size-scale-up-ratio));
  --size-xxxl: calc(var(--size-xxl) * var(--size-scale-up-ratio));

  /* light theme (default) */
  --text-color: #080302;
  --background-color: #fbf0ef;
  --primary-color: #d24232;
  --secondary-color: #e5c78a;
  --accent-color: #ded268;
}

/* dark theme */
:root[data-theme="dark"] {
  --text-color: #fdf8f7;
  --background-color: #100504;
  --primary-color: #cd3d2d;
  --secondary-color: #75571a;
  --accent-color: #978b21;
}

/* === size context providers === */

.--size-context-rg {
  --_size: var(--size-rg);
}

.--size-context-sm {
  --_size: var(--size-sm);
}

.--size-context-xxs {
  --_size: var(--size-xxs);
}

.--size-context-xxxs {
  --_size: var(--size-xxxs);
}

.--size-context-md {
  --_size: var(--size-md);
}

.--size-context-lg {
  --_size: var(--size-lg);
}

.--size-context-xl {
  --_size: var(--size-xl);
}

.--size-context-xxl {
  --_size: var(--size-xxl);
}

.--size-context-xxxl {
  --_size: var(--size-xxxl);
}

/* === text classes === */

._text {
  font-family:
    var(--_font-family), system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: var(--_size);
  font-weight: normal;
}

._text._text--header {
  --_font-family: "aleo";
}

._text._text--normal {
  --_font-family: "abel";
}

._text._text--bold {
  font-weight: bold;
}

._text._text--italic {
  font-style: italic;
}
