/*
  Jester's CSS Framework File
*/

@font-face {
  font-family: "abel";
  src:
    url("../assets/fonts/abel-regular-webfont.woff2") format("woff2"),
    url("../assets/fonts/abel-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "aleo";
  src:
    url("../assets/fonts/aleo-regular-webfont.woff2") format("woff2"),
    url("../assets/fonts/aleo-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --base-size: 0.75rem;
  --base-response: 1vw;

  /* clamp multipliers */
  --lower-clamp-ratio: 2;
  --higher-clamp-ratio: 3;

  /* ratio multiplier between sizes */
  --size-scale-down-ratio: 0.8;
  --size-scale-up-ratio: 1.2;

  /* === responsive text === */
  /* base size */
  --size-rg: clamp(
    var(--base-size) * var(--lower-clamp-ratio),
    var(--base-size) + var(--base-response),
    var(--base-size) * var(--higher-clamp-ratio)
  );
  /* smaller */
  --size-sm: calc(var(--size-rg) * var(--size-scale-down-ratio));
  --size-xs: calc(var(--size-sm) * var(--size-scale-down-ratio));
  --size-xxs: calc(var(--size-xs) * var(--size-scale-down-ratio));
  --size-xxxs: calc(var(--size-xxs) * var(--size-scale-down-ratio));
  /* larger */
  --size-md: calc(var(--size-rg) * var(--size-scale-up-ratio));
  --size-lg: calc(var(--size-md) * var(--size-scale-up-ratio));
  --size-xl: calc(var(--size-lg) * var(--size-scale-up-ratio));
  --size-xxl: calc(var(--size-xl) * var(--size-scale-up-ratio));
  --size-xxxl: calc(var(--size-xxl) * var(--size-scale-up-ratio));

  /* === non-responsive text === */
  /* base size */
  --size-rg-static: var(--base-size);
  /* smaller */
  --size-sm-static: calc(var(--size-rg-static) * var(--size-scale-down-ratio));
  --size-xs-static: calc(var(--size-sm-static) * var(--size-scale-down-ratio));
  --size-xxs-static: calc(var(--size-xs-static) * var(--size-scale-down-ratio));
  --size-xxxs-static: calc(
    var(--size-xxs-static) * var(--size-scale-down-ratio)
  );
  /* larger */
  --size-md-static: calc(var(--size-rg-static) * var(--size-scale-up-ratio));
  --size-lg-static: calc(var(--size-md-static) * var(--size-scale-up-ratio));
  --size-xl-static: calc(var(--size-lg-static) * var(--size-scale-up-ratio));
  --size-xxl-static: calc(var(--size-xl-static) * var(--size-scale-up-ratio));
  --size-xxxl-static: calc(var(--size-xxl-static) * var(--size-scale-up-ratio));
  /* === color schemes === */

  /* light theme (default) */
  --text-color: #080302;
  --opposite-text-color: #fdf8f7;
  --background-color: #fbf0ef;
  --opposite-background-color: #100504;
  --offset-background-color: #d0c5c4;
  --primary-color: #d24232;
  --secondary-color: #e5c78a;
  --accent-color: #ded268;
}

/* dark theme */
:root[data-theme="dark"] {
  --text-color: #fdf8f7;
  --opposite-text-color: #080302;
  --background-color: #100504;
  --opposite-background-color: #fbf0ef;
  --offset-background-color: #160908;
  --primary-color: #cd3d2d;
  --secondary-color: #75571a;
  --accent-color: #978b21;
}

/* === size context providers === */

/* responsive accessors */

.--size-context-rg {
  --size: var(--size-rg);
}

.--size-context-sm {
  --size: var(--size-sm);
}

.--size-context-xxs {
  --size: var(--size-xxs);
}

.--size-context-xxxs {
  --size: var(--size-xxxs);
}

.--size-context-md {
  --size: var(--size-md);
}

.--size-context-lg {
  --size: var(--size-lg);
}

.--size-context-xl {
  --size: var(--size-xl);
}

.--size-context-xxl {
  --size: var(--size-xxl);
}

.--size-context-xxxl {
  --size: var(--size-xxxl);
}

/* static accessors */

.--size-context-rg-static {
  --size: var(--size-rg-static);
}

.--size-context-sm-static {
  --size: var(--size-sm-static);
}

.--size-context-xxs-static {
  --size: var(--size-xxs-static);
}

.--size-context-xxxs-static {
  --size: var(--size-xxxs-static);
}

.--size-context-lg-static {
  --size: var(--size-lg-static);
}

.--size-context-xl-static {
  --size: var(--size-xl-static);
}

.--size-context-xxl-static {
  --size: var(--size-xxl-static);
}

.--size-context-xxxl-static {
  --size: var(--size-xxxl-static);
}

/* === text classes === */

._text {
  font-family:
    var(--font-family), system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: var(--size);
  font-weight: normal;
}

._text._text--header {
  --font-family: "aleo";
}

._text._text--normal {
  --font-family: "abel";
}

._text._text--bold {
  font-weight: bold;
}

._text._text--italic {
  font-style: italic;
}
