/* ========== */
/* General Styling */
/* ========== */

body,
html {
  height: 100%;
}

.container {
  display: grid;
  grid:
    "header" 1fr
    "body" 5fr
    / 1fr;

  height: 100%;
}

/* ========== */
/* Header Styling */
/* ========== */

.header {
  grid-area: header;
  order: 1;
  display: flex;
  align-items: center;
  gap: var(--size);

  padding: 2rem;

  background-color: var(--background-color);
  box-shadow: 0px 10px 20px 10px var(--background-color);
}

.header__logo {
  color: var(--text-color);
}

.header__add-button {
  height: calc(var(--size) * 0.8);
  width: calc(var(--size) * 2);

  color: var(--text-color);
  background-color: var(--primary-color);
  border: none;
  box-shadow: 0px 0px 8px var(--opposite-background-color);
  border-radius: 1rem;
}

/* ========== */
/* Main Content Styling */
/* ========== */

.main-content {
  grid-area: body;
  order: 0;
  display: flex;
  flex-wrap: wrap;

  padding: 3rem 2rem;

  background-color: var(--offset-background-color);
}

.card {
  flex: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  padding: 1rem;
  height: 300px;
  width: 200px;

  background-color: var(--background-color);
  box-shadow: 0px 0px 12px var(--opposite-background-color);
}

.card__header {
}

.card__delete-button {
}

.card__check-read-button {
}

.card__author {
}

.card__title {
}

.card__pages {
}

.card__image {
}
